/* .movieList {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
} */

.movieList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.movieList img {
    border: 1px solid #d6d6d6;
    width: calc(100% - 2px);
    border-radius: 7px;
    object-fit: cover;
    height: auto;
}

.movieListItem {
    
    margin: 5px 5px;
    border-radius: 7px;
    padding: 10px;
    background: white;
    text-decoration: none;
    color: #3f3f3f;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.movieListItem h1 {
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movieListItem > li > div > h1 {
    padding: 5px 0px;
}

.movieMetaData {
    display: grid;
    padding: 5px;
    grid-template-columns: 50% 50%;
}

.movieMetaData div svg {
    height: 16px;
}

@media screen and (min-width: 3000px) {
    .movieListItem {
        width: calc(10% - 30px);
    }
}

@media screen and (max-width: 2500px) {
    .movieListItem {
        width: calc(12.5% - 30px);
    }
}

@media screen and (max-width: 2000px) {
    .movieListItem {
        width: calc(16.6667% - 30px);
    }
}

@media screen and (max-width: 1600px) {
    .movieListItem {
        width: calc(20% - 30px);
    }
}

@media screen and (max-width: 1024px) {
    .movieListItem {
        width: calc(25% - 30px);
    }
}


@media screen and (max-width: 768px) {
    .movieListItem {
        width: calc(33% - 30px);
    }
}

@media screen and (max-width: 480px) {
    .movieListItem {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 360px) {
    .movieListItem {
        width: calc(100% - 30px);
    }
}