.movieList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.movieList img {
    width: calc(100%);
    border-radius: 7px;
    object-fit: cover;
    height: auto;
}

.movieListItem {
    margin: 5px;
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
    width: calc(10% - 30px);
    border: 1px solid #d6d6d6;
    transition: 0.3s;
}

.movieListItem:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.movieListItem h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movieListItem > li > div > h1 {
    padding: 5px 0px;
}

.movieMetaData {
    display: grid;
    padding: 5px;
    grid-template-columns: 50% 50%;
}

.movieMetaData div svg {
    height: 16px;
}

@media screen and (max-width: 3000px) {
    .movieListItem {
        width: calc(10% - 32px);
    }
}

@media screen and (max-width: 2500px) {
    .movieListItem {
        width: calc(12.5% - 32px);
    }
}

@media screen and (max-width: 2000px) {
    .movieListItem {
        width: calc(16.6667% - 32px);
    }
}

@media screen and (max-width: 1600px) {
    .movieListItem {
        width: calc(20% - 32px);
    }
}

@media screen and (max-width: 1024px) {
    .movieListItem {
        width: calc(25% - 32px);
    }
}


@media screen and (max-width: 768px) {
    .movieListItem {
        width: calc(33.3% - 32px);
    }
}

@media screen and (max-width: 480px) {
    .movieListItem {
        width: calc(50% - 32px);
    }
}

@media screen and (max-width: 360px) {
    .movieListItem {
        width: calc(100% - 32px);
    }
}