:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gray: #b6b6b6;
	--num-sixty-px: 60px;
	--num-twelve-px: 12px;
}

.container {
	display: flex;
	background-color: var(--color-black);
	border: 1px solid red;
}

.wrapper {
	border: 1px solid var(--color-white);
}

.title {
	color: var(--color-white);
}

.kr {
	font-size: var(--num-sixty-px);
}

.en {
	font-size: var(--num-twelve-px);
	color: var(--color-gray);
}
