:root {
	--color-white: rgb(255, 255, 255);
	--color-black: rgb(0, 0, 0);
	--color-enTitle: rgb(118, 118, 118);
	--color-like: rgb(237, 29, 36); /* 이 색은 nav 색과도 동일 */
	--color-dislike: rgb(41, 151, 255);
	--color-titleBorder: rgb(240, 240, 240);
	--num-subTitle: 12px;
	--num-title: 30px;
	--num-ten-px: 10px;
	--num-radius: 7px;
	--num-tasty: 25px;
	--viewport: 100vw;
	--imageSize: 300px;
	--test-border: 1px solid var(--color-black);
	--size-padding: 40px;
	--size-fitToLine: calc(var(--viewport) - var(--size-padding));
	--size-layoutMax: 3000px;
}

.container {
	display: flex;
	width: calc(--viewport - 20px);
	background-color: var(--color-white);
}
.container > content {
	border-bottom: 1px solid var(--color-titleBorder);
}
.runningTime {
	padding: var(--num-ten-px) 0px;
	text-align: center;
}

.poster {
	width: var(--imageSize);
	border-radius: var(--num-radius);
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: none;
	border-bottom: 1px solid var(--color-titleBorder);
}

.titleWrap {
	border-bottom: 1px solid var(--color-titleBorder);
	margin-left: var(--num-ten-px);
	width: 1fr;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-black);
	margin-bottom: var(--num-ten-px);
}

.degreeIcon {
	width: 30px;
}

.kr {
	font-size: var(--num-title);
	font-weight: bold;
}

.en {
	color: var(--color-enTitle);
	font-size: var(--num-subTitle);
	font-weight: bold;
}

.tasty {
	padding: var(--num-ten-px);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-titleBorder);
}

.tasty div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--num-tasty);
}

.tasty svg {
	height: calc(var(--num-tasty) - 5px);
	margin-right: 10px;
	cursor: pointer;
}

.like {
	color: var(--color-like);
}

.dislike {
	color: var(--color-dislike);
}

.icon {
	flex-grow: 1;
}

.star > span > svg {
	height: 25px;
}

.listWrapper {
	padding-left: var(--num-ten-px);
}
.listName {
	padding-top: var(--num-ten-px);
	font-weight: bold;
	text-align: center;
}
.list {
	display: flex;
	width: calc(var(--viewport) - var(--imageSize) - 50px);
	max-width: calc(var(--size-layoutMax) - var(--imageSize) - 40px);
	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.list::-webkit-scrollbar {
	display: none;
}

.item {
	margin: var(--num-ten-px);
	margin-left: 0px;
	width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item:nth-last-child(1) {
	margin-right: 0px;
}

.profile {
	border-radius: 100%;
	width: 110px;
	height: 110px;
	margin: auto;
	border: 2px solid var(--color-black);
	object-fit: fill;
}
.actorName {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin: var(--num-ten-px) 0px;
}

.trailer, .synopsis, .review {
	padding: var(--num-ten-px) 0px;
	border-bottom: 1px solid var(--color-titleBorder);
}

.reviewBtnWrapper {
	display: flex;
	justify-content: center;
}
.reviewBtnWrapper > button {
	width: 568px;
	background-color: rgb(237, 29, 36);
	border: none;
	color: var(--color-white);
	font-weight: bold;
	font-size: 20px;
	padding: var(--num-ten-px) 0px;
	border-radius: var(--num-radius);
}
.trailer > div {
	text-align: center;
}

.synopsis > h3, .trailer > h3, .review > h3 {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	padding-bottom: calc(var(--num-ten-px) * 4);
	padding-top: calc(var(--num-ten-px) * 2) ;
}

.reviewList > li {
	display: flex;
	border: 2px solid gray;
	padding: var(--num-ten-px);
	margin: var(--num-ten-px) 0px;
	justify-content: space-between;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 0.7;
	background-color: black;
}
.writeReviewModal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 3;
	flex-direction: column;
}

.writeReviewModal > form {
	padding: 10px;
}
.closeModalWrap {
	text-align: right;
}
.closeModalWrap > svg {
	color: black;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.closeModalWrap > svg:hover {
	color: var(--color-like);
}

.writeReviewModal form > h3 {
	text-align: center;
	font-size: var(--num-title);
	font-weight: bold;
	padding: var(--num-ten-px) 0px 20px 0px;
}
.writeReviewModal > form {
	display: flex;
	flex-direction: column;
	width: 80vw;
	border-radius: var(--num-radius);
	background-color: var(--color-white);
}
.writeReviewModal > form > textarea {
	padding: var(--num-ten-px);
	height: 75px;
	margin-bottom: var(--num-ten-px);
	border-radius: var(--num-radius);
}

.writeReviewModal > form > button {
	background-color: var(--color-like);
	color: var(--color-white);
	font-weight: bold;
	font-size: 20px;
	padding: var(--num-ten-px) 0px;
	border: none;
	border-radius: var(--num-radius);
	margin-top: var(--num-ten-px);
}


@media screen and (max-width: 580px) {
	.trailer > div > iframe {
		width: calc(var(--size-fitToLine) + 20px);
		min-height: 200px;
		max-height: 300px;
	}
	.reviewBtnWrapper > button {
		width: calc(var(--size-fitToLine) + 20px);
	}
	.writeReviewModal > form { 
		width: var(--size-fitToLine);
	}
}
@media screen and (max-width: 500px) {
	.container {
		flex-direction: column;
	}
	.poster {
		width: 100%;
		
	}
	.listWrapper {
		padding-left: 0px;
	}
	.list {
		width: calc(var(--size-fitToLine) + 4px);
	}
}
