:root {
	--color-white: rgb(255, 255, 255);
	--color-black: rgb(0, 0, 0);
	--color-enTitle: rgb(118, 118, 118);
	--color-like: rgb(237, 29, 36);
	--color-dislike: rgb(41, 151, 255);
	--color-titleBorder: rgb(240, 240, 240);
	--num-subTitle: 12px;
	--num-title: 30px;
	--num-ten-px: 10px;
	--num-radius: 7px;
	--num-tasty: 25px;
	--viewport: 100vw;
	--imageSize: 300px;
	--test-border: 1px solid var(--color-black);
	--size-padding: 40px;
	--size-fitToLine: calc(var(--viewport) - var(--size-padding));
	--size-layoutMax: 3000px;
}

.container {
	display: flex;
	width: calc(--viewport - 20px);
	background-color: var(--color-white);
}

.runningTime {
	padding-bottom: 10px;
}

.poster {
	width: var(--imageSize);
	border-radius: var(--num-radius);
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: none;
}

.titleWrap {
	border-bottom: 1px solid var(--color-titleBorder);
	margin: var(--num-ten-px);
	margin-top: 0px;
	width: 1fr;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-black);
	margin-bottom: var(--num-ten-px);
}

.degreeIcon {
	width: 30px;
}

.kr {
	font-size: var(--num-title);
	font-weight: bold;
}

.en {
	color: var(--color-enTitle);
	font-size: var(--num-subTitle);
	font-weight: bold;
}

.tasty {
	margin: var(--num-ten-px) 0px;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}

.tasty div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--num-tasty);
}

.tasty svg {
	height: calc(var(--num-tasty) - 5px);
	margin-right: 10px;
	cursor: pointer;
}

.like {
	color: var(--color-like);
}

.dislike {
	color: var(--color-dislike);
}

.icon {
	flex-grow: 1;
}

.star > span > svg {
	height: 25px;
}

.listWrapper {
	padding-left: var(--num-ten-px);
}
.listName {
	font-weight: bold;
}
.list {
	display: flex;
	width: calc(var(--viewport) - var(--imageSize) - 50px);
	max-width: calc(var(--size-layoutMax) - var(--imageSize) - 40px);
	overflow: auto;
	border-bottom: 1px solid var(--color-titleBorder);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.list::-webkit-scrollbar {
	display: none;
}

.item {
	margin: var(--num-ten-px);
	margin-left: 0px;
	width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profile {
	border-radius: 100%;
	width: 110px;
	height: 110px;
	margin: auto;
	border: 2px solid var(--color-black);
	object-fit: fill;
}
.name {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin: var(--num-ten-px) 0px;
}
@media screen and (max-width: 500px) {
	.container {
		flex-direction: column;
	}
	.poster {
		width: calc(var(--size-fitToLine));
		
	}
	.listWrapper {
		padding-left: 0px;
	}
	.list {
		width: var(--size-fitToLine);
	}
}
